
.popup-9 {


  &__content {
    min-width: 80%;
    //min-height: 70%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5rem 1fr;
    grid-column-gap: 1%;
    @include respond(tab-port) {
      //grid-template-columns: repeat(3, 1fr);
      //grid-template-rows: 5rem 1fr;
      //grid-column-gap: 1%;
    }


    &__chapter {
    }
  }
}


.insurance-block {
  img {
    float: left;
  }
}

.chapter9-1__img-block,
.chapter9-2__img-block,
.chapter9-3__img-block {

  &__img {

    &--small {
      width: 14rem;
      height: auto;
    }

    &--medium {
      width: 70%;
      height: auto;
    }

    &--big {
      width: 33rem;
      height: auto;
    }
  }
}

// Phone view---------------------
@include respond(phone) {
  .popup-9 {

    &__content {
      min-height: 90%;
      display: flex;
      flex-direction: column;


      &__chapter--1,
      &__chapter--2,
      &__chapter--3 {
        min-height: min-content;
        overflow: hidden;
      }
    }
  }
  .insurance-block {
    img {
      float: left;
    }


  }


  .chapter9-1__img-block,
  .chapter9-2__img-block,
  .chapter9-3__img-block {
    align-self: center;


    &__img {

      &--small {
        width: 45%;
        height: 45%;
      }

      &--medium {
        width: 70%;
        height: auto;
      }

      &--big {
        width: 70%;
        height: 70%
      }
    }
  }
}